.container-one {
    width:800px;
    height:700px; 
    margin:30px auto;
    :global {
        .item {
            float:left; 
            width:150px; 
            height:150px; 
            background:lightblue; 
            margin:20px; 
            border:1px solid #000; 
            line-height:150px; 
            text-align:center; 
            font-size:50px;
            cursor: pointer;
        }
    }
}